.vscode/**
src/**
.gitignore
tsconfig.json
promo/**
!promo/example.png
releases/**
**/*.map
node_modules/**
!node_modules/**/LICENSE*
README.de.md
CONTRIBUTING.md
scripts/**
l10n/_todo.json
l10n/glossary.md
l10n/.i18n-state.json
